---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { render } from "astro:content";

export const getStaticPaths = (async () => {
  const books = await getCollection("books");

  return books.map((book) => ({
    params: {
      id: book.id,
    },
    props: book
  }));
}) satisfies GetStaticPaths;

const book = Astro.props;
const { id, data } = book;
const { title, author, description, img } = data;

const { Content } = await render(book);
---

<Layout>
  <div class="flex gap-12">
    <aside class="flex flex-col items-center gap-4">
      <a href="/" class="hover:underline opacity-70">← Volver atrás</a>
      <!-- la transition viene de css: view-transtion-name -->
      <img transition:name={`img-${id}`} class="rounded w-72 h-auto" src={`/${img}`} alt={title} />
    </aside>

    <main class="max-w-3xl">
      <h1 class="text-4xl font-bold mb-4">{title}</h1>

      <div class="prose prose-invert">
        <Content />
      </div>
    </main>
  </div>
</Layout>
