---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
    <div>
      <slot />
    </div>
	</body>
</html>

<style>
  @reference "../styles/global.css";
	html,
	body {
		margin: 0;
	}

  body {
    @apply grid place-content-center p-20;
  }

  body > div {
    @apply container;
  }
</style>
